@model PP1_GrupoA.Models.Car

@{
    ViewBag.Title = "Crear Carro";
}

<h2>Agregar Auto</h2>

@using (Html.BeginForm("Create", "Car", FormMethod.Post))
{
    <tr>
        <td> @Html.LabelFor(model => model.Marca)</td>
        <td> @Html.TextBoxFor(model => model.Marca)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(model => model.Modelo)</td>
        <td> @Html.TextBoxFor(model => model.Modelo)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(model => model.Año)</td>
        <td> @Html.TextBoxFor(model => model.Año)</td>
    </tr>
    <tr>
        <td> @Html.LabelFor(model => model.Precio)</td>
        <td> @Html.TextBoxFor(model => model.Precio)</td>
    </tr>
    <br />
    <br />
    <input type="submit" value="Agregar Carro" />
}
