@model PP1_GrupoA.Models.Job

@{
    ViewBag.Title = "Crear Job";
}

<h2>Agregar Job</h2>

@using (Html.BeginForm("Create", "Job", FormMethod.Post))
{
    <tr>
        <td>  @Html.LabelFor(model => model.Nombre)</td>
        <td>  @Html.TextBoxFor(model => model.Nombre)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Descripcion)</td>
        <td>@Html.TextBoxFor(model => model.Descripcion)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Estado)</td>
        <td>@Html.TextBoxFor(model => model.Estado)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.FechaCreacion)</td>
        <td>@Html.TextBoxFor(model => model.FechaCreacion)</td>
    </tr>
    <br />
    <br />
    <br />
    <input type="submit" value="Agregar Job" />
}
